@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Shadows Into Light", cursive;
  font-style: normal;
}

body {
  background-image: url('../../public/images/background-image.png');
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat;
  height: 100vh;
}


.swiper-pagination {
  text-align: center !important;
  position: unset !important;
  margin-top: 15px !important;
}

.swiper-pagination-bullet-active {
  background-color: #ffd200 !important;
}

.swiper-pagination-bullet {
  background-color: #ffd200 !important;
}

.swiper-style {
  overflow-x: hidden;
}

.swiper-slide {
  height: auto !important;
}

